[submodule "libs/stx-btree"]
	path = libs/stx-btree
	url = https://github.com/bingmann/stx-btree.git
[submodule "libs/bwtree"]
	path = libs/bwtree
	url = https://github.com/wangziqi2013/BwTree.git
[submodule "libs/cpp-channel"]
	path = libs/cpp-channel
	url = https://github.com/andreiavrammsd/cpp-channel.git
[submodule "libs/pgm-index"]
	path = libs/pgm-index
	url = https://github.com/gvinciguerra/PGM-index.git
[submodule "libs/alex-map"]
	path = libs/alex-map
	url = https://github.com/microsoft/ALEX.git
